<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:web="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 version="3.0">

	<display-name>Servlet - Form Based Authentication Demo</display-name>

	<session-config>
    	<session-timeout>2</session-timeout> <!-- in minutes -->
  	</session-config>
  
	<servlet>
		<description></description>
		<display-name>HomeServlet</display-name>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.example.formBasedAuth.HomeServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PublicServlet</display-name>
		<servlet-name>PublicServlet</servlet-name>
		<servlet-class>com.example.formBasedAuth.PublicPageServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.example.formBasedAuth.LoginServlet</servlet-class>
	</servlet>	
	<servlet>
		<description></description>
		<display-name>CashierServlet</display-name>
		<servlet-name>CashierServlet</servlet-name>
		<servlet-class>com.example.formBasedAuth.CashierPageServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>SupervisorServlet</display-name>
		<servlet-name>SupervisorServlet</servlet-name>
		<servlet-class>com.example.formBasedAuth.SupervisorPageServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ManagerServlet</display-name>
		<servlet-name>ManagerServlet</servlet-name>
		<servlet-class>com.example.formBasedAuth.ManagerPageServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>DirectorServlet</display-name>
		<servlet-name>DirectorServlet</servlet-name>
		<servlet-class>com.example.formBasedAuth.DirectorPageServlet</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PublicServlet</servlet-name>
		<url-pattern>/public</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/secure/login</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>CashierServlet</servlet-name>
		<url-pattern>/secure/cashier</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SupervisorServlet</servlet-name>
		<url-pattern>/secure/supervisor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ManagerServlet</servlet-name>
		<url-pattern>/secure/manager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DirectorServlet</servlet-name>
		<url-pattern>/secure/director</url-pattern>
	</servlet-mapping>
	
	
	<login-config>
        <auth-method>FORM</auth-method>
        <realm-name>default</realm-name>
        <form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
    </login-config>

	<!-- Security roles used by this web application -->
    <security-role>
        <role-name>cashier</role-name>
    </security-role>
    <security-role>
        <role-name>supervisor</role-name>
    </security-role>
    <security-role>
        <role-name>manager</role-name>
    </security-role>
    <security-role>
        <role-name>director</role-name>
    </security-role>	
		
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>secured-urls</web-resource-name>
            <url-pattern>/secure/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>cashier</role-name>
            <role-name>supervisor</role-name>
            <role-name>manager</role-name>
            <role-name>director</role-name>
        </auth-constraint>
        <user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>cashier-url</web-resource-name>
            <url-pattern>/secure/cashier/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>cashier</role-name>
            <role-name>supervisor</role-name>
        </auth-constraint>
        <user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>supervisor-url</web-resource-name>
            <url-pattern>/secure/supervisor/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>supervisor</role-name>
        </auth-constraint>
        <user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>manager-url</web-resource-name>
            <url-pattern>/secure/manager/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>manager</role-name>
        </auth-constraint>
        <user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>director-url</web-resource-name>
            <url-pattern>/secure/director/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>director</role-name>
        </auth-constraint>
        <user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
    </security-constraint>

</web-app>
