<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">
	<test name="HtmlUnitTest">
		<parameter name="headlessBrowser" value="Edge-Headless" />
		<classes>
			<class
				name="com.example.selenium.headless.webdriver.test.TestModuleLogin" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
