<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring MVC Java Config Demo</title>
</head>
<body>
    <h1>Spring MVC Java Config Demo (Thymeleaf) - Loop </h1>
   
   	<h2>Users Information</h2>
	<table id="menu">
		<thead>
			<tr>
				<th>No.</th>
				<th>Name</th>
				<th>DOB (YYYY-MM-DD)</th>
				<th>Height(m)</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${users}" >
				<td th:text="${userStat.count}"/>
				<td th:text="${user.firstName + ' ' + user.lastName}"/>
				<td th:text="${#dates.format(user.dob, 'dd/MM/yyyy')}"/>
				<td th:text="${#numbers.formatDecimal(user.height, 0, 'COMMA', 2, 'POINT')}"/>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th>Total</th>
				<th th:text="${users.size()}"/>
				<th>TBD</th>
			</tr>
		</tfoot>
	</table>
   	
    <a th:href="@{/thymeleaf}">Home</a>
</body>
</html>