<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"   
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- resources at path webapp/resources -->
	<sec:http pattern="/resources/**" security="none" />

	<!-- Option 1: Use auto-config, which implicitly include certain security features
	               this option use spring internal login form -->
<!-- 
	<sec:http auto-config="true">
        <sec:intercept-url pattern="/jsp/admin/**" access="hasRole('ROLE_USER')" />
        <sec:csrf disabled="true"/>
    </sec:http>
 -->

	<!-- Option 2: same as option 1 without auto-config. explicitly specify the security features -->
<!-- 	
	<sec:http>
        <sec:intercept-url pattern="/jsp/admin/**" access="hasRole('ROLE_USER')" />
        <sec:form-login />
		<sec:anonymous />
		<sec:logout />
		<sec:remember-me />
        <sec:csrf disabled="true"/>
    </sec:http>
 -->
 
    <!-- Option 3: use custom login form -->
    <sec:http>
    	<sec:intercept-url pattern="/loginpage" access="permitAll" />
        <sec:intercept-url pattern="/jsp/admin/**" access="hasAnyRole('ROLE_ADMIN')" />
        <sec:form-login login-page="/loginpage"
        				login-processing-url="/login"
        				authentication-failure-url="/loginpage?error" 
        				always-use-default-target="true"/>
		<sec:logout logout-success-url="/" />
		<sec:csrf disabled="true" />
    </sec:http>
  
  	<!--  
    <import resource="spring-security-authprovider-userservice.xml"/>
    <import resource="spring-security-authprovider-jdbc.xml"/>
    <import resource="spring-security-authprovider-ldap.xml"/>
    <import resource="spring-security-authprovider-activedirectory.xml"/>
    -->
    
    <import resource="spring-security-authprovider-activedirectory2.xml"/>
    
    
</beans>