<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"   
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd">

	<bean id="ldapActiveDirectoryAuthProvider"
		  class="org.springframework.security.ldap.authentication.ad.ActiveDirectoryLdapAuthenticationProvider">
  		<constructor-arg value="example.com" />  <!-- your domain -->
  		<constructor-arg value="ldap://192.168.0.12/" />  <!-- ldap url -->
  		<property name="userDetailsContextMapper">
  			<bean class="org.springframework.security.ldap.userdetails.InetOrgPersonContextMapper" />
  		</property>
	</bean>
 
 	<sec:authentication-manager erase-credentials="false">
   		<sec:authentication-provider ref="ldapActiveDirectoryAuthProvider"/>
	</sec:authentication-manager>
</beans>