<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"   
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd">

	<!-- Option 1: Use auto-config, which implicitly include certain security features
	               this option use spring internal login form -->
<!-- 
	<sec:http auto-config="true">
        <sec:intercept-url pattern="/jsp/admin/**" access="hasRole('ROLE_USER')" />
        <sec:csrf disabled="true"/>
    </sec:http>
 -->
	<!-- Option 2: same as option 1 without auto-config. explicitly specify the security features -->
<!-- 
	<sec:http>
        <sec:intercept-url pattern="/jsp/admin/**" access="hasRole('ROLE_USER')" />
        <sec:form-login />
		<sec:anonymous />
		<sec:http-basic />
		<sec:logout />
		<sec:remember-me />
        <sec:csrf disabled="true"/>
    </sec:http>
-->    
    <!-- Option 3: use browser login form -->
<!-- 
    <sec:http>
        <sec:intercept-url pattern="/jsp/admin/**" access="hasRole('ROLE_USER')" />
		<sec:http-basic />
        <sec:csrf disabled="true"/>
    </sec:http>
 -->    
    <!-- Option 4: use custom login form -->
    <sec:http>
        <sec:intercept-url pattern="/jsp/admin/**" access="hasAnyRole('ROLE_ADMIN')" />
        <sec:form-login login-page="/loginpage"
        				login-processing-url="/login"
        				authentication-failure-url="/loginpage?error" 
        				always-use-default-target="true"/>
		<sec:http-basic />
		<sec:logout logout-success-url="/" />
		<sec:csrf disabled="true" />
    </sec:http>
    
 

    <sec:authentication-manager>
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user name="admin1" password="{noop}P@ssw0rd123" authorities="ROLE_ADMIN" />
                <sec:user name="admin2" password="{noop}P@ssw0rd123" authorities="ROLE_ADMIN" />
                <sec:user name="user1" password="{noop}P@ssw0rd123" authorities="ROLE_USER" />
                <sec:user name="user2" password="{noop}P@ssw0rd123" authorities="ROLE_USER" />
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>
</beans>